@model List<ECommerceWebSite.Models.ViewModels.ShowOrderViewModel>
@{
    ViewData["Title"] = "ShowOrder";
}



<table class="table table-striped">
    <tr>
        <th>
            <label asp-for="First().Id" class="control-label"></label>
        </th>
        <th>
            <label asp-for="First().TotalPrice" class="control-label"></label>
        </th>
        <th>
            <label asp-for="First().OrderDate" class="control-label"></label>
        </th>
        <th>
            <label asp-for="First().Status" class="control-label"></label>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <label class="control-label">@item.Id</label>
            </td>
            <td>
                <label class="control-label">@item.TotalPrice</label>
            </td>
            <td>
                <label class="control-label">@item.OrderDate</label>
            </td>
            <td>
                <label class="control-label">@item.Status</label>
            </td>
        </tr>
    }


</table>