@using Microsoft.AspNetCore.Identity
@using ECommerceWebSite.Models.DbModels
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager


@if (SignInManager.IsSignedIn(User))
{

    <a class="header__link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">

        <div class="header__option">
            <span class="header__optionLineOne"> سلام @User.Identity.Name </span>
            <span class="header__optionLineTwo"> خوش آمدید  </span>
        </div>

    </a>

    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button class="header__logoutBtn" type="submit">
            <div class="header__option">
                <span class="header__optionLineOne"> خارج شوید </span>
                <span class="header__optionLineTwo"> Logout  </span>
            </div>
        </button>
    </form>


}
else
{
    <a class="header__link" asp-area="Identity" asp-page="/Account/Login">

        <div class="header__option">
            <span class="header__optionLineOne"> سلام  </span>
            <span class="header__optionLineTwo"> خوش آمدید  </span>
        </div>

    </a>
}

